.labelIndicatorContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    margin: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;
}

.labelContent{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

