.circular_del_indicator_container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.circular_del_icon_container{
    position: absolute;
    top: 10%;
    right: 10px;

    .circular_del_icon{
        cursor: pointer;
    }
}

